@import "tailwindcss";

@theme {
  --font-inter: "inter", sans-serif;
}
/* Custom scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
    background: #111;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #fbbf24;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #f59e0b;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #fbbf24 #111;
}
